tr, th, td {
    border: 1px solid white;
    text-align: center;
}

th {
    padding: 0 16px;
}

table {
    border-collapse: collapse;
    max-width: 1200px;
}

td {
    height: 30px;
}

td input {
  height: 100%;  
  width: 100%;
}