.tableRow {
  width: 100%;
}

.table_tile {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  padding-left: 10px;
  
}

.table_tile div {
  height: 24px;
}

.info_tile {
  background-color: rebeccapurple;
  transition: all 250ms;
}

@media screen and (max-width: 600px){
  .tableRow {
  }
}