@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
  --var-scad-backcolor: white;
  --var-scad_text-color: black;
  --var-tablehead-color: #dfe3e8;
  --var-main-accent-color: #cbe9d2;
  --var-main-over-accent-color: #b8d4bf;
  --var-error-color: #f44612;
  --drawer-width: 400px;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--var-scad-backcolor);
  display: flex;
}

button {
  height: 40px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  font-size: 0.9em;
}

button:hover {
  cursor: pointer;
}

input[type="text"],
input[type="date"] {
  border: 1px solid var(--var-tablehead-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.primaryButton {
  background-color: var(--var-main-accent-color);
}

.primaryButton:hover {
  background-color: var(--var-main-over-accent-color);
}

.secondaryButton {
  background-color: white;
  color: black;
  border: 1px solid var(--var-tablehead-color);
  font-weight: bold;
}

.secondaryButton:hover {
  cursor: pointer;
  background-color: #eee;
}

.errorButton {
  background-color: var(--var-error-color);
  color: black;
  font-weight: bold;
}

.buttonContainer {
  height: 40px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.pointer:hover {
  cursor: pointer;
}

textarea {
  resize: none;
  border-color: var(--var-tablehead-color);
  padding-left: 10px;
  padding-top: 8px;
  border-radius: 8px;
  min-height: 100px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
