#new_row_tile {
    display: flex;
    flex-direction: row-reverse;
}

#new_row_button {
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    border: none;
} 
