#new_row_tile {
    width: 100%;
    display: flex;
    columns: 8px;
    margin: 1rem 0 ;
    justify-content: space-between;
}

#new_row_tile {
    flex: 1;
    display: flex;
    column-gap: 16px;
    flex-wrap: wrap;
    row-gap: 16px;
}

#new_row_button {
    font-weight: bold;
    border-radius: 8px;
    border: none;
} 

.dropdown_button {
    position: relative;
}
